.Weather {
  border: 2px solid #a3a2a2;
  border-radius: 5px;
  background: #a3dec9;
  padding: 20px;
  max-width: 600px;
  margin: 30px auto;
}
.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}
.Weather li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
.Weather li:first-letter {
  text-transform: capitalize;
}
.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather .temperature {
  font-weight: bold;
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
}

.Weather canvas {
  margin-right: 10px;
  display: inline-block;
  margin-top: 5px;
}
.Weather .unit {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  top: -32px;
  line-height: 1;
}
